body {
  margin: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
canvas {
  background: radial-gradient(circle at center,#444,#111);
  border: 2px solid #666;
}
